@charset "utf-8";
/* CSS Document */
/** Fonts **/
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Helvetica.woff') format('woff'), 
  url('../fonts/Helvetica.ttf')  format('truetype'), 
  url('../fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}
/** default css **/ 
body{font-family: 'Helvetica';}
p { margin: 0 }
a, a:hover { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
ul, ol{padding: 0;}
/** Header account verification Styles **/
.header-login { min-height: 85px; padding: 18px 0; background: url(../images/header-bg.jpg) repeat-x; }
.logo{ padding-top:8px; }
.section-title > .heading { margin-bottom: 10px; font-size: 26px; }
.section-title > .sub-heading { font-size: 14px; }
.have-account { padding-top: 15px; }
.have-account a { color: #354052; }
.inputText { background: #fff; border: 1px solid #dfe3e9; height: 36px; line-height: 36px; width: 100%; padding: 0 0 0 5px; }
.full-inherit > span { display: inline-block; }
.full-inherit > label { width: 100%; margin-bottom: 0; }
.full-inherit span a { color: #7f8fa4; font-size: 18px; }
.signup-account > .form-group { margin-bottom: 20px; }
.btn-signup-header{display:inline-block;padding: 0 20px;height: 36px; line-height: 36px; font-size: 14px; border: 0; border-radius:5px; box-shadow: 0px 0px 2px 0px #666;}
.btn-signup { margin-top: 20px; min-width: 300px; height: 45px; line-height: 45px; font-size: 18px; border: 0; border-radius: 5px; box-shadow: 0px 0px 2px 0px #666; }
.seperator{ background:#DFE3E9;}
.btn-signup:hover { box-shadow: 0px 0px 4px 0px #666; }
.footer-bg{min-height: 85px; background: url(../images/footer-bg.jpg) repeat-x;}
/** login screen **/
.login-account{ padding:12% 0;}
.login-here { padding-top: 5px; }
.login-here a { color: #354052; }
.link-blue{ color:#2EA2F8;}

/** Responsive css **/
/** Breakpoint for small tablets and Phablets **/
@media (max-width:767px){
  .btn-signup{ min-width:100%;}
 }
@media (max-width:640px) { 
  .login-here {padding-top: 0;}
 }
.help-block {
  color: #e43d3d!important;
}
